* {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
}

:root {
  --main-bg-color: #ffead8;
  --panel-bg-color: #e4bca0;
  --text-color: saddlebrown
}

body {
    background: #ffead8;
}

.header {
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 1rem;
}



.create-game {
    margin: auto;
    text-align: center;
}
 
.games {
    text-align: center;
    background: #e4bca0;
    margin: 2rem;
    border-radius: 0.5rem;
}

.game {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gameTitle {
    margin-left: 1rem;
}

.gamePlayers {
    margin-left: auto;
    margin-right: 2rem;
}

.messageLog {
    width: 40%;
    background: #e4bca0;
    height: 12rem;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

button {
    background-color: #ffd9b0;
    border-radius: .5rem;
    border-color: brown;
    border-style: dashed;
    border-bottom-color: brown;
    color: brown;
    transition: 0.2s;
    
}

button:hover {
    box-shadow: inset 0px 0px 8px 0px brown;
    transition: 0.2s;
}

.gameInfoSection {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 3rem;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.clientId {
    align-self: center;
}

.numPlayers {
    align-self: center;
    padding-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.message {
    padding: .5rem;
    padding-right: 1.5rem;
    height: 2rem;
    text-align: right;
}

.messageText {
    margin: 0;
}

.gameElements {
    display: flex;
    justify-content: center;
}

.gameButton {
    margin: 2rem;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.main {
    display:flex;
    flex-direction: column;
}

.gameInfo {
    background: #e4bca0;
    border-radius: 1rem;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.gameUI {
    height: 30rem;
    display: flex;
    background: #e4bca0;
    border-radius: 1rem;
    width: 90%;
    margin: auto;
    flex-direction: column;
}

.players {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.gameInfoText {
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.weaponImage {
    width:75%;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}